:root {
    --background-colour: rgb(12, 12, 15);
    --panel-colour: #323138;
    --panel-colour-2: #17171a;
    --panel-colour-3: #3f3e44;
    --panel-colour-4: #56545a;
    --panel-colour-5: #2c2b30;
    --panel-colour-6: rgb(16, 16, 20);
    --border-colour: #3c3241;
    --border-colour-2: #1b1a1f;
    --border-colour-3: #56545a;

    --light-font-colour: white;
    --dark-font-colour: rgb(0, 0, 0);
    --green-font: rgb(101, 214, 129);
    --red-font: rgb(214, 96, 96);
    --red-font-hover: rgb(209, 119, 119);
    --red-font-active: rgb(214, 75, 75);
    --progress-bar-font: rgb(92, 172, 76);
    --healing-font: #d8fdd8;
    --holy-font: #f4f8cd;
    --paladin-font: #e7afc7;

    --holy-power-gain: rgb(101, 214, 129);
    --holy-power-loss: rgb(214, 101, 101);
    --mana: #76afdd;

    --subrow-arrow-colour: #cca1ddc9;
    --subrow-arrow-colour-hover: #c8add3c9;
    --subrow-arrow-colour-active: #c790ddc9;
    --sorting-arrow-colour: #91fcd8c9;
}

* {
    font-family: "Inter";
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
  }

body {
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: var(--background-colour);
}

/* character import bar */
#import-character-container {
    margin: 50px auto 20px auto;
    padding: 11px 0 11px 0;
    display: flex;
    justify-content: center;

    width: 68%;

    border: 1px solid var(--panel-colour-4);
    border-radius: 3px;
    
    background-color: var(--panel-colour);
}

.character-input-label {
    padding: 4px 10px 0 0;

    font-size: 17px;
    color: var(--light-font-colour);
}

.character-input-field {
    margin-right: 25px;
    padding-left: 5px;

    border: 1px solid var(--panel-colour-4);
    border-radius: 3px;

    font-size: 17px;
    color: var(--dark-font-colour);
}

#character-name-input, #character-realm-input {
    width: 175px;
    height: 27px;
}

#character-region-input {
    width: 50px;
    padding-left: 5px;
    height: 27px;
}

#import-button {
    width: 150px;
    height: 30px;
    margin-top: -1px;
    
    border: 1px solid var(--panel-colour-4);
    border-radius: 3px;

    font-size: 18px;
    color: var(--light-font-colour);

    background-color: var(--panel-colour-2);
}

#import-button:hover {
    cursor: pointer;
    user-select: none;
    background-color: var(--background-colour);
}

/* character options window */
#simulation-options-container {
    margin: 0 auto 20px auto;

    width: 68%;

    border-left: 1px solid var(--border-colour-3);
    border-bottom: 1px solid var(--border-colour-3);
    border-top: none;
    border-radius: 3px;
}

#options-navbar-1, [id^="results-navbar-"], [id^="buffs-line-graph-navbar-"] {
    display: inline-flex;

    border-bottom: 1px solid var(--border-colour-3);
    border-radius: 3px;
    border-bottom-right-radius: 0px;

    background-color: var(--background-colour);
}

[id^="buffs-line-graph-navbar-"] {
    background-color: var(--panel-colour-6);
}

.options-tab, [class^="results-tab"], [class^="buffs-line-graph-tab"] {
    padding: 10px;

    min-width: 80px;

    border-top: 1px solid var(--border-colour-3);
    border-right: 1px solid var(--border-colour-3);

    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: var(--light-font-colour);
    background-color: var(--panel-colour-2);

    user-select: none;
}

[id*="buffs-window-content"] {
    text-align: left;
}

.options-tab:last-child, [class^="results-tab"]:last-child, [class^="buffs-line-graph-tab"]:last-child {
    border-top-right-radius: 3px;
}

.options-tab.active, [class^="results-tab"].active, [class^="buffs-line-graph-tab"].active {
    background-color: var(--panel-colour-4);
    text-shadow: 0.5px 0 0 var(--light-font-colour);
}

.options-tab.inactive, [class^="results-tab"].inactive, [class^="buffs-line-graph-tab"].inactive {
    background-color: var(--panel-colour-2);
    text-shadow: none;
}

.options-tab.inactive:hover, [class^="results-tab"].inactive:hover, [class^="buffs-line-graph-tab"].inactive:hover {
    cursor: pointer;
    background-color: var(--panel-colour-5);
    user-select: none;
}

#options-window {
    height: 600px;

    border-right: 1px solid var(--border-colour-3);
    border-radius: 3px;

    background-color: var(--panel-colour);
}

.options-tab-content {
    display: none;
}

#options-content {
    display: block;
}

#options-container {
    display: flex;

    padding: 15px 0 0 15px;

    font-size: 15px;
}

.options-half {
    flex: 1;
    padding: 10px;
}

.option-container {
    display: flex;

    justify-content: space-between;

    margin-bottom: 10px;
}

.option-container label {
    margin-right: 10px; /* Adjust spacing between label and input */
}

.option-container input {
    flex-grow: 1;
}

.options-option {
    display: block;

    margin-right: 130px;
    padding-left: 3px;

    max-width: 115px;
    width: 115px;
    height: 25px;

    border: 1px solid var(--border-colour-3);
    border-radius: 3px;

    font-size: 15px;
}

.options-option-label {
    padding-right: 5px;

    color: var(--light-font-colour);
}

.race-filter-option {
    min-width: 200px;
}

#all-talents-container {
    display: flex;
    justify-content: space-evenly;
}

#class-talents {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns */
    grid-template-rows: repeat(10, 1fr); /* 10 rows */
    gap: 15px; 

    margin-top: 8px;
    padding: 20px 9px 25px 10px;

    width: 44%;
    height: 100%;

    background-color: var(--border-colour-2);
    border: 1px solid var(--border-colour-3);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--border-colour-2);
}

#spec-talents {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* 7 columns */
    grid-template-rows: repeat(10, 1fr); /* 10 rows */
    gap: 15px; 

    margin-top: 8px;
    padding: 20px 15px 25px 15px;

    width: 54%;
    height: 100%;

    background-color: var(--border-colour-2);
    border: 1px solid var(--border-colour-3);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--border-colour-2);
}

.talent-option {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    position: relative;

    width: 40px;
    height: 40px;

    font-size: 10px;
}

.talent-icon {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    border: 2px solid var(--border-colour-3);
    box-shadow: 1px 1px 1px var(--border-colour-2);
    border-radius: 5px;

    filter: saturate(0);
}

.split-talent-option {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.split-talent-icon-left {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.split-talent-icon-right {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
}

#options-status-bar {
    display: flex;
    align-items: center;

    height: 50px;
    width: 100%;

    border-top: 1px solid var(--border-colour-3);
    border-radius: 1px;

    background-color: var(--panel-colour-3);

    position: relative;
}

#saving-data-status, #saved-data-status {
    display: flex;
    align-items: center;

    position: absolute;
    left: 20px;
    top: 15px;

    color: var(--light-font-colour);
    display: none;
}

#saved-data-status {
    display: block;
    margin-top: -4px;

    color: var(--green-font);

    opacity: 0;
    transition: opacity 0.4s ease-out;
}

#saved-data-status-check {
    margin: 0 10px 0 0;
    transform: translateY(2px);

    font-size: 22px;

    transition: opacity 0.4s ease-out;
}

#simulate-button-container {
    display: flex;
    align-items: center;
    margin: 0px 10px 0 auto;

    height: 39px;
}

#simulate-button-container:hover {
    user-select: none;
    cursor: pointer;
}

input:focus {
    outline: none;
}

#simulation-name-text-input {
    position: absolute;
    right: 200px;
    top: 7px;

    margin-right: 10px;
    padding-left: 6px;

    height: 36px;
    width: 250px;

    border: 1px solid var(--border-colour-3);
    border-radius: 3px;

    font-size: 16px;
}

#simulate-button, #simulation-progress-bar-container {
    position: absolute;
    top: 6px;
    right: 6px;

    width: 200px;
    height: 38px;
    
    border: 1px solid var(--border-colour-3);
    border-radius: 3px;

    font-size: 20px;
    color: var(--light-font-colour);

    background-color: var(--panel-colour-2);
}

#simulate-button {
    transition: opacity 0.4s ease-in;
}

#simulation-progress-bar-container {
    width: 200px;

    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 0.2s ease-in;
}

#simulation-progress-bar-text, #simulation-progress-bar-check {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    color: var(--light-font-colour);
}

.simulation-progress-bar-check-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simulation-progress-bar-checkmark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    stroke-width: 5;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
}

.simulation-progress-bar-checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: #fff;
}

.simulation-progress-bar-checkmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
}

.animate-circle {
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.animate-check {
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.animate-checkmark {
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

@keyframes stroke {
    100% { stroke-dashoffset: 0; }
}

@keyframes scale {
    0%, 100% { transform: none; }
    50% { transform: scale3d(1.1, 1.1, 1); }
}

#simulation-progress-bar {
    width: 0%;
    height: 100%;

    border: 1px solid var(--border-colour-3);
	background: linear-gradient(to bottom, #16a137 0%,#15b12c 50%,#12aa2b 51%,#17c52e 100%);
    transition: width 0.09s ease-in-out;
}

#simulate-button:hover {
    cursor: pointer;
    user-select: none;
    background-color: var(--background-colour);
}

#simulate-text {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
    width: 100%;
    
    color: white;
    font-size: 18px;
}

/* ALL RESULTS */
#results-container {
    display: block;
    margin: 0 auto 100px auto;
    width: 68%;
}

.result-header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;

    width: 100%;
    height: 50px;

    border: 1px solid var(--border-colour-3);
    border-radius: 3px;

    font-size: 18px;
    color: var(--light-font-colour);
    background-color: var(--panel-colour-6);
}

.result-left-side, .result-right-side {
    display: flex;
    align-items: center;
}

.result-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    width: 30px;
    height: 100%;

    color: var(--subrow-arrow-colour);
    font-size: 24px;
}

.result-arrow-container:hover {
    cursor: pointer;
    user-select: none;
}

.result-arrow-container:hover, .table-header-arrows:hover, .table-arrows:hover {
    color: var(--subrow-arrow-colour-hover);
}

.result-arrow-container:active, .table-header-arrows:active, .table-arrows:active {
    color: var(--subrow-arrow-colour-active);
}

.result-arrow-icon.fa-caret-right {
    transform: translateY(-4px);
}

.result-arrow-icon.fa-sort-down {
    transform: translateY(-4px);
}

[class*="result-text"] {
    display: flex;
    justify-content: left;
    align-items: center;
    word-wrap: break-word;
    padding: 1px 5px 0 5px;

    min-width: 150px;
    height: 60%;
}

[class*="result-details-container"] {
    display: flex;
    justify-content: space-between;
    padding-top: 1px;

    font-size: 17px;
}

[class*="result-details-hps"], [class*="result-details-encounter-length"] {
    margin-right: 30px;
    text-align: left;
}

[class*="result-details-hps"] {
    min-width: 110px;
}

[class*="result-details-encounter-length"] {
    min-width: 110px;
}

[class*="result-details-iterations"] {
    min-width: 140px;
    text-align: left;
    margin-right: 10px;
}

.result-remove-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: auto;

    width: 31px;
    height: 100%;

    font-size: 26px;
    color: var(--red-font);
}

.result-remove-container:hover {
    cursor: pointer;

    color: var(--red-font-hover);
}

.result-remove-container:active {
    cursor: pointer;

    color: var(--red-font-active);
}

[id^="results-navbar-"] {
    border-bottom: none;
}

[class^="results-tab"] {
    border-bottom: 1px solid var(--border-colour-3);
    border-left: 1px solid var(--border-colour-3);
    border-right: none;
}

[class^="results-tab"]:last-child {
    border-right: 1px solid var(--border-colour-3);
}

[class^="results-tab-content"] {
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 3px;
    border-top-left-radius: 0px;
    border-right: 1px solid var(--border-colour-3);
    background-color: var(--panel-colour-6);
}

[id^="healing-tab-"], [id^="buffs-window-tab-"], [id^="resources-tab-"], [id^="priority-tab"] {
    border-bottom: none;
}

[id^="healing-tab-"]:first-child, [id^="buffs-window-tab-"]:first-child, [id^="resources-tab-"]:first-child, [id^="priority-tab"]:first-child {
    border-top-left-radius: 3px;
}

/* ABILITY BREAKDOWN TABLE */
.tooltip {
    z-index: 1000;
    pointer-events: none;

    border: 1px solid var(--border-colour-3);

    text-align: left;
    background-color: var(--panel-colour-2) !important;
}

.tooltip-healing {
    color: var(--healing-font);
}

.tooltip-mana, #tooltip-mana {
    color: var(--mana);
}

#tooltip-holy-power {
    color: var(--holy-font);
}

[id^="ability-breakdown-table-container-"] {
    margin: 0 auto 0px auto;
    display: none;

    width: 100%;
    overflow: hidden;

    color: var(--light-font-colour);
}

.table-wrapper {
    overflow: hidden;
    border-radius: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 1px solid var(--border-colour-3);
    height: 36px;
}

[id^="table-headers-"] {
    font-size: 17px;
}

.table-header {
    position: relative;
    padding: 5px 5px 5px 5px;

    min-width: 75px;
    height: 60px;
    border-left: 1px solid var(--border-colour-3);

    text-align: center;

    background-color: var(--panel-colour);
}

.table-header .fa-sort-down {
    transform: translateY(6px);
}

.table-header .fa-caret-right {
    transform: translateY(1px);
}

[id^="spell-name-header-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    padding-bottom: 8px;
}

.ability-spell-name-header {
    padding-left: 40px;
    padding-top: 6px;
}

[id^="healing-header-"] {
    min-width: 100px;
}

.table-cell-left {
    padding-left: 5px;
    padding-top: 1px;

    min-width: 350px;
    height: 35px;

    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour-2);
}

.table-cell-right {
    padding-right: 6px;
    padding-top: 1px;

    height: 35px;

    border-left: 1px solid var(--border-colour-3);
    border-right: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: var(--panel-colour-2);
}

.table-sub-cell-left {
    position: relative;
    padding-left: 5px;
    padding-top: 1px;
    margin-left: 0.5px;

    min-width: 350px;
    height: 35px;

    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour-1);
}

.table-sub-cell-left::before {
    position: absolute;
    left: 19px;
    top: 0px;

    height: 50%;
    width: 15px;

    content: "";
    border-bottom: 1.5px solid var(--border-colour-3);
    border-left: 1.5px solid var(--border-colour-3);
}

.table-sub-cell-right {
    padding-right: 6px;
    padding-top: 1px;

    height: 35px;
    
    border-right: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: var(--panel-colour-1);
}

.table-sub-sub-cell-left {
    position: relative;
    padding-left: 5px;
    padding-top: 1px;
    margin-left: 0.5px;

    min-width: 350px;
    height: 35px;
    
    font-weight: 300;
    font-size: 17px;

    background-color: rgba(0, 0, 0, 0.233);
}

.table-sub-sub-cell-left::before {
    position: absolute;
    left: 49px;
    top: 0px;

    height: 50%;
    width: 15px;

    content: "";
    border-bottom: 1.5px solid var(--border-colour-3);
    border-left: 1.5px solid var(--border-colour-3);
}

.table-sub-sub-cell-right {
    padding-right: 6px;
    padding-top: 1px;

    height: 35px;

    border-right: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: rgba(0, 0, 0, 0.233);
}

.spell-name-cell {
    display: flex;
    align-items: center;

    width: 100%;

    color: var(--holy-font);
}

.CPM-cell {
    border-left: 1px solid var(--border-colour-3);
}

.table-spell-icon-container {
    width: 30px;
    height: 36px;
}

.table-spell-icon {
    width: 30px;
    height: 30px;
    
    border: 1.5px solid var(--border-colour-3);
}

.table-spell-name-text {
    padding-left: 6px;
    padding-top: 1px;

    font-weight: 300;
}

.healing-cell, .HPS-cell {
    color: var(--healing-font);
}

.healing-percent-cell {
    max-width: 75px;
}

.mana-spent-cell, .mana-gained-cell {
    color: var(--mana);
}

.holy-power-cell {
    border-right: none;
}

.sub-cell {
    padding-left: 35px;
    border-right: 1px solid var(--border-colour-3);
}

.sub-sub-cell {
    padding-left: 65px;
    border-right: 1px solid var(--border-colour-3);
}

.table-header-icon-container {
    display: flex;
    padding-left: 10px;
    padding-top: 1.5px;

    width: 35px;
    height: 30px;
}

.table-header-icon-container:hover {
    cursor: pointer;
    user-select: none;
}

.fa-caret-right {
    padding-top: 7px;
}

.table-header-arrows {
    position: absolute;

    padding-left: 0px;

    font-size: 14px;

    color: var(--subrow-arrow-colour) !important;
}

.table-icon-container {
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
}

.table-icon-container:hover {
    cursor: pointer;
    user-select: none;
}

.table-arrows {
    padding-left: 9px;
    margin-top: -6px;

    font-size: 14px;

    color: var(--subrow-arrow-colour) !important;
}

[class*="fa-sort-down sorting-icon-"] {
    position: absolute;
    top: 32px;
    left: 0;
    bottom: 0;
    right: 0;

    padding-left: 3px;

    font-size: 14px;

    color: var(--sorting-arrow-colour) !important;
}

[class*="fa-sort-up sorting-icon-"] {
    position: absolute;
    top: 44px;
    left: 0;
    bottom: 0;
    right: 0;

    padding-left: 3px;

    font-size: 14px;

    color: var(--sorting-arrow-colour) !important;
}

.table-cell-bottom-left {
    padding-left: 6px;
    padding-top: 2px;

    min-width: 350px;
    height: 35px;
    
    border-top: 1px solid var(--border-colour-3);
    border-right: none;
    border-left: none;

    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour);
}

.table-cell-bottom-right {
    padding-right: 4px;
    padding-top: 2px;

    height: 35px;
    
    border-top: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: var(--panel-colour);
}

[id^="overall-healing-percent-cell-"], [id^="overall-mana-gained-cell-"], [id^="overall-holy-power-gained-cell-"], [id^="overall-holy-power-spent-cell-"], [id^="overall-holy-power-wasted-cell-"], [id^="overall-CPM-cell"] {
    border-left: 1px solid var(--border-colour-3);
}

[id^="overall-healing-cell-"] {
    border: 1px solid var(--border-colour-3);
    border-bottom: none;

    color: var(--healing-font);
}

[id^="overall-HPS-cell-"] {
    border-left: 1px solid var(--border-colour-3);
    border-right: 1px solid var(--border-colour-3);

    color: var(--healing-font);
}

[id^="overall-casts-cell-"] {
    border-right: 1px solid var(--border-colour-3);
}

[id^="overall-mana-spent-cell-"], [id^="overall-mana-gained-cell-"] {
    border-left: 1px solid var(--border-colour-3);
    border-right: 1px solid var(--border-colour-3);

    color: var(--mana);
}

[id*="holy-power-gained-header"], [id*="holy-power-spent-header"], [id*="holy-power-wasted-header"] {
    font-size: 16px;
    min-width: 100px;
}

.resources-spell-name-header {
    height: 75px;
}

.fa-sort-down.holy-power-arrow {
    top: 49px;
}

.fa-sort-up.holy-power-arrow {
    top: 61px;
}

.spell-name-header > .fa-sort-down.holy-power-arrow {
    top: 42px;
}

.spell-name-header > .fa-sort-up.holy-power-arrow {
    top: 54px;
}

[id^="overall-holy-power-gained-cell-"] {
    color: var(--holy-power-gain);
}

[id^="overall-holy-power-spent-cell-"], [id^="overall-holy-power-wasted-cell-"] {
    color: var(--holy-power-loss);
}

/* BUFFS BREAKDOWN TABLE */
[id^="buffs-window-content-"] {
    display: none;
}

[id^="buffs-breakdown-table-container-"] {
    display: none;
    justify-content: space-between;
    margin: 0 auto 0px auto;

    width: 100%;
    overflow: hidden;

    color: var(--light-font-colour);
}

.buffs-tab-container {
    height: 100%;
    width: 100%;
}

.buffs-tab-container:nth-child(2) .buffs-tab {
    margin-left: 5px;
}

.buffs-tab {
    display: block;
    padding-top: 8px;
    
    width: 100px;
    height: 40px;

    border: 1px solid var(--border-colour-3);
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    text-align: center;
    font-size: 16px;
    font-weight: 300;
    background-color: var(--panel-colour-2);
}

[id^="paladin-buffs-tab-"] {
    color: var(--paladin-font);
}

[id^="self-buffs-breakdown-table-container-"] {
    width: 99%;
    height: 100%;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    overflow: hidden;

    color: var(--light-font-colour);
}

[id^="target-buffs-breakdown-table-container-"] {
    margin-left: 5px;

    width: 99%;
    height: 100%;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    overflow: hidden;

    color: var(--light-font-colour);
}

.buff-name-header {
    border-left: none;
}

[id^="count-header-"] {
    padding-right: 8px;
}

[id^="uptime-header-"] {
    padding-right: 8px;
}

[id^="average-duration-header-"]{
    border-right: 1px solid var(--border-colour-3);
}

.average-duration-cell {
    border-right: none;
}

.buff-table-cell-left {
    padding-left: 5px;
    padding-top: 1px;

    height: 35px;

    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour-2);
}

.buff-table-cell-right {
    padding-right: 8px;
    padding-top: 1px;

    height: 35px;

    border-right: 1px solid var(--border-colour-3);
    border-left: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: var(--panel-colour-2);
}

.buff-table-sub-cell-left {
    position: relative;
    padding-left: 37px;
    padding-top: 1px;

    height: 35px;

    font-weight: 300;
    font-size: 17px;
    border: none !important;

    background-color: var(--panel-colour-1);
}

.buff-table-sub-cell-right {
    padding-right: 8px;
    padding-top: 1px;

    height: 35px;

    border-right: 1px solid var(--border-colour-3);
    border-left: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: var(--panel-colour-1);
}

.buff-table-sub-cell-left::before {
    position: absolute;
    left: 19px;
    top: 0px;

    height: 50%;
    width: 15px;

    content: "";
    border-bottom: 1.5px solid var(--border-colour-3);
    border-left: 1.5px solid var(--border-colour-3);
}

[class^="buffs-line-graph-tab"] {
    border-radius: 3px;
    border-top-left-radius: 0px;
}

[class^="buffs-line-graph-tab-content-"] {
    margin-left: 5px;
    width: 99%;

    border: 1px solid var(--border-colour-3);
    border-radius: 3px;
    border-top-left-radius: 0px;

    background-color: var(--panel-colour-2);
}

[id^="buffs-line-graph-navbar-"] {
    margin: 15px 0 0 5px;

    border-left: 1px solid var(--border-colour-3);
    border-bottom-left-radius: 0px;
    border-bottom: none;
}

[id^="tyrs-content-"], [id^="awakening-content-"] {
    display: none;
}

[id^="awakening-tab-"] {
    display: none;
}

[id^="awakening-tab-"], [id^="glimmer-tab-"], [id^="tyrs-tab-"] {
    border-radius: 2px;
    border-top-left-radius: 0px;
}

.path {
    stroke: rgb(206, 163, 106);
}

.axis-label {
    font-size: 14px;
    fill: #f8f8f8;
}

/* RESOURCES BREAKDOWN */
[id^="resources-content"] {
    display: none;
}

[id^="resources-breakdown-table-container-"] {
    display: none;
    justify-content: space-between;
    margin: 0 auto 0px auto;

    width: 100%;
    overflow: hidden;

    color: var(--light-font-colour);
}

[id*="mana-table-wrapper"], [id*="holy-power-table-wrapper"] {
    width: 98.5%;
}

.resources-table {
    width: 100%;
}

.resources-table-cell-left {
    padding-left: 5px;

    min-width: 300px;
    height: 35px;

    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour-2);
}

.resources-table-sub-cell-left {
    position: relative;
    padding-left: 5px;

    min-width: 300px;
    height: 35px;

    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour-1);
}

.resources-table-cell-bottom-left {
    padding-left: 6px;
    padding-top: 2px;

    min-width: 300px;
    height: 35px;
    
    border-top: 1px solid var(--border-colour-3);
    border-right: none;
    border-left: none;

    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour);
}

.resources-mana-cell {
    margin-left: 1px;
}

[id*="holy-power-breakdown-container"] {
    margin-left: 5px;
}

.holy-power-gained-cell {
    color: var(--holy-power-gain);
}

.holy-power-spent-cell {
    color: var(--holy-power-loss);
}

.holy-power-wasted-cell {
    color: var(--holy-power-loss);
}

/* PRIORITY BREAKDOWN */
[id*="priority-content"] {
    display: none;
    min-width: 525px;
}

/* priority filter modals */
.priority-grid-options-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;

    width: 100%;
    height: 30px;
}

.priority-grid-cooldown-filter, .priority-grid-player-auras-filter {
    position: relative;
    display: flex;
    justify-content: flex;
    align-items: center;

    transform: translateX(7px);

    width: 45px;
    height: 25px;
}

.priority-grid-cooldown-filter:hover, .priority-grid-cooldown-icon-container:hover, .priority-grid-player-auras-filter:hover {
    cursor: pointer;
    user-select: none;
}

.priority-grid-cooldown-filter-button, .priority-grid-player-auras-filter-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 25px;

    border: 1px solid var(--border-colour-3);

    background-color: var(--panel-colour-2);
}

.priority-grid-cooldown-filter-icon, .priority-grid-player-auras-filter-icon {
    font-size: 15px;
}

.priority-grid-cooldown-filter-modal, .priority-grid-player-auras-filter-modal {
    position: absolute;
    top: -26px;
    left: 41px;
    padding: 5px;
    z-index: 1000;

    min-height: 80px;
    min-width: 187px;
    max-width: 200px;

    border: 1px solid var(--border-colour-3);
    border-radius: 3px;

    background-color: var(--panel-colour-2);
    transition: opacity 0.1s ease-in-out;
}

.priority-grid-cooldown-filter-modal::before, .priority-grid-cooldown-filter-modal::after, .priority-grid-player-auras-filter-modal::before, .priority-grid-player-auras-filter-modal::after {
    content: "";
    position: absolute;
    transform: rotate(-90deg);
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

.priority-grid-cooldown-filter-modal::before, .priority-grid-player-auras-filter-modal::before {
    top: 33px;
    left: -16px;
    z-index: 2;
    border-bottom: 11px solid var(--panel-colour-2);
}

.priority-grid-cooldown-filter-modal::after, .priority-grid-player-auras-filter-modal::after {
    top: 34px;
    left: -17px;
    border-bottom: 10px solid var(--border-colour-3);
}

.priority-grid-player-auras-modal-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

[class*="priority-grid-cooldown-modal-icon-container"], [class*="priority-grid-player-auras-modal-icon-container"] {
    display: inline-block;
    opacity: 1;
}

/* priority grid css */
.priority-grid-container {
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 0.2fr 0.35fr 1fr 0.35fr 1fr 0.35fr; 
    width: calc(100% + 7px); 
}

/* .priority-grid-container::-webkit-scrollbar {
    display: none;
} */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--panel-colour-6);
}

::-webkit-scrollbar-thumb {
    border: 2px solid var(--panel-colour-6);
    border-left: 5px solid var(--panel-colour-6);
    border-radius: 2px;

    background: var(--border-colour-3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--panel-colour-3);
}

.priority-grid-header-row {
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 0.2fr 0.35fr 1fr 0.35fr 1fr 0.35fr;
    width: calc(100% - 3px);
}

.priority-grid-header-cell:last-child {
    border-right: 1px solid var(--border-colour-3);
}
  
.priority-grid-row {
    display: contents;
}

.priority-grid-row:first-child > .priority-grid-cell {
    border-top: none;
}

.priority-grid-header-cell:first-child {
    border-top-left-radius: 3px;
}

.priority-grid-header-cell:last-child {
    border-top-right-radius: 3px;
}

.priority-grid-container > .priority-grid-row:last-child > .priority-grid-cell:first-child {
    border-bottom-left-radius: 3px;
}

.priority-grid-container > .priority-grid-row:last-child > .priority-grid-cell:last-child {
    border-bottom-right-radius: 3px;
}
  
.priority-grid-cell {
    display: flex;
    align-items: flex-start;    
    justify-content: center;
    padding: 7px 5px 5px 5px;

    height: 100%;

    border: 1px solid var(--border-colour-3);

    background-color: var(--panel-colour-2);

    text-align: center;
}
  
.priority-grid-header-cell {
    padding: 10px 0 10px 0;
    background-color: var(--panel-colour);
    border-right: none;
}

.priority-grid-container > * > .priority-grid-cell:not(:last-child) {
    border-right: none;
}

.priority-grid-container > :not(:last-child) > .priority-grid-cell {
    border-bottom: none;
}

.priority-grid-time-cell, .priority-grid-number-cell, .priority-grid-name-cell {
    padding-top: 10px;
}

.priority-grid-time-cell, .priority-grid-number-cell {
    padding-top: 23px;
}

.priority-grid-spell-icon {
    width: 50px;
    height: 50px;

    border: 1px solid var(--border-colour-3);
}

.priority-grid-resources-cell {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 9px 0 5px 0;
}

.priority-grid-holy-power-display {
    transform: translateY(2px);
    padding-left: 1px;
    border-bottom: none;
    width: 103px;
}

.priority-grid-mana-bar-container {
    position: relative;
    margin-top: 1px;

    width: 105px;
    height: 25px;
    overflow: hidden;
}

.priority-grid-mana-bar {
    -webkit-appearance: none;
    appearance: none;

    height: 100%;
    width: 100%;
    border: 1px solid var(--background-colour);
    border-radius: 3px;

    color: #2a3bd8;
    background: none;
}

.priority-grid-mana-bar::-webkit-progress-value {
    background: linear-gradient(to right, #1e209a 0%,#2a3bd8 30%,#202eca 73%,#2a3cbd 100%);
}

.priority-grid-mana-bar::-webkit-progress-bar {
    background-color: #2e30b63a;
}

.priority-grid-mana-bar::-moz-progress-bar {
    background: linear-gradient(to right, #1e209a 0%, #2a3bd8 30%, #202eca 73%, #2a3cbd 100%);
    background-color: #2e30b63a;
}

.priority-grid-mana-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    pointer-events: none;
}

.priority-grid-player-auras-container, .priority-grid-cooldowns-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}

[class*="priority-grid-player-auras-icon-container"], [class*="priority-grid-cooldown-icon-container"], .priority-grid-cooldown-icon-container, [class*="priority-grid-cooldown-modal-icon-container"], [class*="priority-grid-player-auras-modal-icon-container"] {
    position: relative;
}

[class*="priority-grid-player-auras-icon-container"], [class*="priority-grid-cooldown-icon-container"], [class*="priority-grid-cooldown-modal-icon-container"], [class*="priority-grid-player-auras-modal-icon-container"] {
    margin: 2.5px;

    width: 30px;
    height: 30px;
}

.aura-icon-overlay-container, .cooldown-icon-overlay-container {
    position: relative;

    width: 30px;
    height: 30px;
}

.priority-grid-aura-icon, .priority-grid-cooldown-icon, .priority-grid-cooldown-modal-icon, .priority-grid-player-auras-modal-icon {

    width: 30px;
    height: 30px;

    border: 1px solid var(--border-colour-3);
}

.priority-grid-aura-duration-text, .priority-grid-aura-counts-text {
    font-size: 12px;
    color: var(--healing-font);
}

.priority-grid-aura-counts-text {
    margin-right: 1px;
}

.priority-grid-cooldown-remaining-text {
    font-size: 12px;
    color: var(--red-font-hover);
}

.priority-grid-aura-stacks-text, .priority-grid-cooldown-charges-text {
    position: absolute;
    left: 0px;
    top: 2px;
    bottom: 0;
    right: 0;
    text-shadow:
        0.09em 0 black,
        0 0.09em black,
        -0.09em 0 black,
        0 -0.09em black,
        -0.09em -0.09em black,
        -0.09em 0.09em black,
        0.09em -0.09em black,
        0.09em 0.09em black;

    font-size: 16px;
}

.aura-icon-overlay, .cooldown-icon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
}

.aura-duration-overlay, .cooldown-remaining-overlay {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.priority-grid-cooldown-row {
    display: flex;

    width: 100%;
    height: 50px;
}

/* COOLDOWNS CONTENT */
[id*="cooldowns-tab"] {
    border-bottom: none;
}

[id*="cooldowns-content"] {
    display: none;
}

[id^="cooldowns-breakdown-table-container-"] {
    display: none;
    justify-content: space-between;
    margin: 0 auto 0px auto;

    width: 100%;
    overflow: hidden;

    color: var(--light-font-colour);
}

.cooldowns-breakdown-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;

    width: 100%;

    border: 1px solid var(--border-colour-3);
    border-radius: 3px;
}

.cooldowns-breakdown-cooldown-container {
    display: flex;

    margin-bottom: 20px;
    margin-right: 20px;

    width: 100%;
}

.cooldowns-breakdown-cooldown-icon {
    margin-right: 5px;

    height: 60px;
    width: 60px;

    border: 2px solid var(--border-colour-3);
    border-radius: 3px;
}

.cooldowns-breakdown-cooldown-name-text {
    padding-bottom: 10px;

    font-size: 20px;
    color: var(--holy-font);
}

.cooldowns-breakdown-cooldown-name-and-instances-container {
    padding: 0px 0px 10px 10px;
    text-align: left;
    /* border-bottom: 1px solid var(--border-colour-3) */
}

.cooldowns-breakdown-cooldown-instance-container {
    display: flex;

    background-color: var(--panel-colour-2);
    border: 1px solid var(--border-colour-3);
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.cooldowns-breakdown-cooldown-instance-text, .cooldowns-breakdown-cooldown-hps-text, .cooldowns-breakdown-cooldown-average-duration-text {
    margin: 0 30px 10px 0;
    
    width: 30px;
}

.cooldowns-breakdown-cooldown-instance-text {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 30px;

    font-size: 19px;
}

.cooldowns-breakdown-cooldown-hps-text, .cooldowns-breakdown-cooldown-average-duration-text {
    width: 100px;
    
    border-radius: 3px;

    text-align: center;
}


.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width:100%;
    height:40px;

    border-top: 2px solid var(--panel-colour);

    background-color: var(--panel-colour-2);
}