:root {
    --background-colour: rgb(14, 14, 17);
    --panel-colour: #323138;
    --panel-colour-2: #17171a;
    --panel-colour-3: #3f3e44;
    --panel-colour-4: #56545a;
    --panel-colour-5: #2c2b30;
    --border-colour: #3c3241;
    --border-colour-2: #1b1a1f;
    --border-colour-3: #56545a;

    --light-font-colour: white;
    --dark-font-colour: rgb(0, 0, 0);
    --green-font: rgb(101, 214, 129);
    --healing-font: #d8fdd8;
    --holy-font: #f4f8cd;
    --paladin-font: #e7afc7;

    --holy-power-gain: rgb(101, 214, 129);
    --holy-power-loss: rgb(214, 101, 101);
    --mana: #76afdd;
}

* {
    font-family: "Inter";
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: var(--background-colour);
}

/* character import bar */
#import-character-container {
    margin: 50px auto 20px auto;
    padding: 11px 0 11px 0;
    display: flex;
    justify-content: center;

    width: 65%;

    border: 1px solid var(--panel-colour-4);
    border-radius: 3px;
    
    background-color: var(--panel-colour);
}

.character-input-label {
    padding: 3px 10px 0 0;

    font-size: 18px;
    color: var(--light-font-colour);
}

.character-input-field {
    margin-right: 25px;
    padding-left: 5px;
    padding-bottom: 1px;

    border: 1px solid var(--panel-colour-4);
    border-radius: 3px;

    font-size: 18px;
    color: var(--dark-font-colour);
}

#character-name-input, #character-realm-input {
    width: 175px;
    height: 27px;
}

#character-region-input {
    width: 50px;
    padding-left: 0px;
    height: 27px;
}

#import-button {
    width: 150px;
    height: 30px;
    margin-top: -1px;
    
    border: 1px solid var(--panel-colour-4);
    border-radius: 3px;

    font-size: 18px;
    color: var(--light-font-colour);

    background-color: var(--panel-colour-2);
}

#import-button:hover {
    cursor: pointer;
    user-select: none;
    background-color: var(--background-colour);
}

/* character options window */
#simulation-options-container {
    margin: 0 auto 20px auto;

    width: 65%;

    border-left: 1px solid var(--border-colour-3);
    border-bottom: 1px solid var(--border-colour-3);
    border-top: none;
    border-radius: 3px;

    background-color: var(--panel-colour);
}

#options-navbar {
    display: flex;

    border-bottom: 1px solid var(--border-colour-3);
    border-radius: 3px;

    background-color: var(--background-colour);
}

.options-tab {
    padding: 10px;

    min-width: 80px;

    border-top: 1px solid var(--border-colour-3);
    border-right: 1px solid var(--border-colour-3);
    border-radius: 1px;

    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: var(--light-font-colour);
    background-color: var(--panel-colour-2);

    user-select: none;
}

.options-tab.active {
    background-color: var(--panel-colour-4);
    text-shadow: 0.5px 0 0 var(--light-font-colour);
}

.options-tab.inactive {
    background-color: var(--panel-colour-2);
    text-shadow: none;
}

.options-tab.inactive:hover {
    cursor: pointer;
    background-color: var(--panel-colour-5);
    user-select: none;
}

#options-window {
    height: 600px;

    border-right: 1px solid var(--border-colour-3);
    border-radius: 3px;
}

.options-tab-content {
    display: none;
}

#options-content {
    display: block;
}

#options-container {
    display: flex;

    padding: 15px 0 0 15px;

    font-size: 15px;
}

.options-half {
    flex: 1;
    padding: 10px;
}

.option-container {
    display: flex;

    justify-content: space-between;

    margin-bottom: 10px;
}

.option-container label {
    margin-right: 10px; /* Adjust spacing between label and input */
}

.option-container input {
    flex-grow: 1;
}

.options-option {
    display: block;

    margin-right: 130px;
    padding-left: 3px;

    max-width: 115px;
    width: 115px;
    height: 25px;

    border: 1px solid var(--border-colour-3);
    border-radius: 3px;

    font-size: 15px;
}

.options-option-label {
    padding-right: 5px;

    color: var(--light-font-colour);
}

#all-talents-container {
    display: flex;
    justify-content: space-evenly;
}

#class-talents {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns */
    grid-template-rows: repeat(10, 1fr); /* 10 rows */
    gap: 15px; 

    margin-top: 8px;
    padding: 20px 9px 25px 10px;

    width: 44%;
    height: 100%;

    background-color: var(--border-colour-2);
    border: 1px solid var(--border-colour-3);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--border-colour-2);
}

#spec-talents {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* 7 columns */
    grid-template-rows: repeat(10, 1fr); /* 10 rows */
    gap: 15px; 

    margin-top: 8px;
    padding: 20px 15px 25px 15px;

    width: 54%;
    height: 100%;

    background-color: var(--border-colour-2);
    border: 1px solid var(--border-colour-3);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--border-colour-2);
}

.talent-option {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    position: relative;

    width: 40px;
    height: 40px;

    font-size: 10px;
}

.talent-icon {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    border: 2px solid var(--border-colour-3);
    box-shadow: 1px 1px 1px var(--border-colour-2);
    border-radius: 5px;

    filter: saturate(0);
}

.split-talent-option {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.split-talent-icon-left {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.split-talent-icon-right {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    clip-path: polygon(100% 100%, 0 100%, 100% 0);
}

#options-status-bar {
    display: flex;
    justify-content: center;

    height: 50px;
    width: 100%;

    border-top: 1px solid var(--border-colour-3);
    border-radius: 1px;

    background-color: var(--panel-colour-3);

    position: relative;
}

#saving-data-status, #saved-data-status {
    display: flex;
    align-items: center;

    position: absolute;
    left: 20px;
    top: 15px;

    color: var(--light-font-colour);
    display: none;
}

#saved-data-status {
    display: block;
    margin-top: -4px;

    color: var(--green-font);

    opacity: 0;
    transition: opacity 0.4s ease-out;
}

#saved-data-status-check {
    margin: 0 10px 0 0;
    transform: translateY(2px);

    font-size: 22px;

    transition: opacity 0.4s ease-out;
}

#simulate-button-container {
    margin-top: 5px;
}

#simulate-button {
    width: 165px;
    height: 39px;
    
    border: 1px solid var(--border-colour-3);
    border-radius: 3px;

    font-size: 20px;
    color: var(--light-font-colour);

    background-color: var(--panel-colour-2);
}

#simulate-button:hover {
    cursor: pointer;
    user-select: none;
    background-color: var(--background-colour);
}

#simulate-text {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
    width: 100%;
    
    color: white;
    font-size: 18px;
}

/* ALL RESULTS */
#results-container {
    display: block;
}

/* ABILITY BREAKDOWN TABLE */
#ability-breakdown-table-container {
    margin: 0 auto 20px auto;
    display: none;

    width: 65%;
    border-radius: 3px;
    overflow: hidden;

    color: var(--light-font-colour);
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 1px solid var(--border-colour-3);
    height: 36px;
}

#table-headers {
    font-size: 18px;
}

.table-header {
    padding: 5px 5px 5px 10px;

    height: 35px;
    border-left: 1px solid var(--border-colour-3);

    text-align: center;

    background-color: var(--panel-colour);
}

#spell-name-header {
    border: none;
}

.table-cell-left {
    padding-left: 5px;

    min-width: 350px;
    height: 35px;


    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour-2);
}

.table-cell-right {
    padding-right: 8px;

    height: 35px;

    border-left: 1px solid var(--border-colour-3);
    border-right: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: var(--panel-colour-2);
}

.table-sub-cell-left {
    position: relative;
    padding-left: 5px;

    width: 350px;
    height: 35px;

    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour-1);
}

.table-sub-cell-left::before {
    position: absolute;
    left: 19px;
    top: 0px;

    height: 50%;
    width: 15px;

    content: "";
    border-bottom: 1.5px solid var(--border-colour-3);
    border-left: 1.5px solid var(--border-colour-3);
}

.table-sub-cell-right {
    padding-right: 8px;

    height: 35px;
    
    border-right: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: var(--panel-colour-1);
}

.table-sub-sub-cell-left {
    padding-left: 5px;
    position: relative;

    width: 350px;
    height: 35px;
    
    font-weight: 300;
    font-size: 17px;

    background-color: rgba(0, 0, 0, 0.233);
}

.table-sub-sub-cell-left::before {
    position: absolute;
    left: 49px;
    top: 0px;

    height: 50%;
    width: 15px;

    content: "";
    border-bottom: 1.5px solid var(--border-colour-3);
    border-left: 1.5px solid var(--border-colour-3);
}

.table-sub-sub-cell-right {
    padding-right: 8px;

    height: 35px;

    border-right: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: rgba(0, 0, 0, 0.233);
}

.spell-name-cell {
    display: flex;
    align-items: center;

    width: 100%;

    color: var(--holy-font);
}

.table-spell-icon-container {
    width: 30px;
    height: 35px;
}

.table-spell-icon {
    width: 30px;
    height: 30px;
    
    border: 1.5px solid var(--border-colour-3);
}

.table-spell-name-text {
    padding-left: 6px;

    font-weight: 300;
}

.healing-cell, .HPS-cell {
    color: var(--healing-font);
}

.mana-spent-cell {
    color: var(--mana);
}

.holy-power-cell {
    border-right: none;
}

.sub-cell {
    padding-left: 35px;
    border-right: 1px solid var(--border-colour-3);
}

.sub-sub-cell {
    padding-left: 65px;
    border-right: 1px solid var(--border-colour-3);
}

.table-header-icon-container {
    display: inline-block;
    width: 40px;
    height: 20px;
}

.table-header-icon-container:hover {
    cursor: pointer;
    user-select: none;
}

.fa-caret-right {
    padding-top: 7px;
}

.table-header-arrows {
    padding-left: 0px;
    transform: translateY(-3px);

    font-size: 14px;

    color: #cca1ddc9 !important;
}

.table-icon-container {
    display: inline-block;
    width: 40px;
    height: 20px;
}

.table-icon-container:hover {
    cursor: pointer;
    user-select: none;
}

.table-arrows {
    padding-left: 9px;
    transform: translateY(-3px);

    font-size: 14px;

    color: #cca1ddc9 !important;
}

.table-cell-bottom-left {
    padding-left: 5px;

    min-width: 350px;
    height: 35px;
    
    border-top: 1px solid var(--border-colour-3);
    border-right: none;
    border-left: none;

    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour);
}

.table-cell-bottom-right {
    padding-right: 8px;

    height: 35px;
    
    border-top: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: var(--panel-colour);
}

#overall-healing-percent-cell {
    border-left: 1px solid var(--border-colour-3);
    
}

#overall-healing-cell {
    border: 1px solid var(--border-colour-3);
    border-bottom: none;

    color: var(--healing-font);
}

#overall-HPS-cell {
    border-left: 1px solid var(--border-colour-3);
    border-right: 1px solid var(--border-colour-3);

    color: var(--healing-font);
}

#overall-casts-cell {
    border-right: 1px solid var(--border-colour-3);
}

#overall-mana-spent-cell {
    border-left: 1px solid var(--border-colour-3);
    border-right: 1px solid var(--border-colour-3);

    color: var(--mana);
}


/* BUFFS BREAKDOWN TABLE */
#buffs-breakdown-table-container {
    display: none;
    justify-content: space-between;
    margin: 0 auto 200px auto;

    width: 65%;
    overflow: hidden;

    color: var(--light-font-colour);
}

.buffs-tab-container {
    width: 100%;
}

.buffs-tab-container:nth-child(2) .buffs-tab {
    margin-left: 10px;
}

.buffs-tab {
    display: block;
    padding-top: 8px;
    
    width: 100px;
    height: 40px;

    border: 1px solid var(--border-colour-3);
    border-bottom: none;
    border-radius: 1px;

    text-align: center;
    font-size: 16px;
    font-weight: 300;
    background-color: var(--panel-colour-2);
}

#paladin-buffs-tab {
    color: var(--paladin-font);
}

#self-buffs-breakdown-table-container {
    padding-right: 10px;

    width: 100%;
    height: 100%;
    border-right: none;
    border-radius: 3px;
    overflow: hidden;

    color: var(--light-font-colour);
}

#target-buffs-breakdown-table-container {
    padding-left: 10px;

    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;

    color: var(--light-font-colour);
}

.buff-name-header {
    border-left: none;
}

#count-header {
    padding-right: 8px;
}

#uptime-header {
    padding-right: 8px;
}

#average-duration-header {
    border-right: 1px solid var(--border-colour-3);
}

.average-duration-cell {
    border-right: none;
}

.buff-table-cell-left {
    padding-left: 5px;

    height: 35px;

    font-weight: 300;
    font-size: 17px;

    background-color: var(--panel-colour-2);
}

.buff-table-cell-right {
    padding-right: 8px;

    height: 35px;

    border-right: 1px solid var(--border-colour-3);
    border-left: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: var(--panel-colour-2);
}

.buff-table-sub-cell-left {
    position: relative;
    padding-left: 37px;

    height: 35px;

    font-weight: 300;
    font-size: 17px;
    border: none !important;

    background-color: var(--panel-colour-1);
}

.buff-table-sub-cell-right {
    padding-right: 8px;

    height: 35px;

    border-right: 1px solid var(--border-colour-3);
    border-left: 1px solid var(--border-colour-3);

    font-weight: 300;
    font-size: 17px;
    text-align: right;

    background-color: var(--panel-colour-1);
}

.buff-table-sub-cell-left::before {
    position: absolute;
    left: 19px;
    top: 0px;

    height: 50%;
    width: 15px;

    content: "";
    border-bottom: 1.5px solid var(--border-colour-3);
    border-left: 1.5px solid var(--border-colour-3);
}